numpy
scipy
pandas
camb
matplotlib>=3.0.0
hankel
chainconsumer>=0.30.0
emcee>=3.0.0
dynesty
pyyaml
#mpi4py
pytest
nautilus-sampler
zeus-mcmc
git+https://github.com/cosmodesi/cosmoprimo#egg=cosmoprimo[class,camb,astropy,extras]